.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    object-fit: cover;
    margin: 92px auto;
    width: calc(100% - 2*48px);
    max-width: 1184px;
}

@media screen and (max-width: 820px) {
    .photo-grid {
        margin: 88px auto;
        width: calc(100% - 2*24px);
    }    
}

@media screen and (max-width: 450px) {
    .photo-grid {
        margin: 64px auto;
        width: calc(100% - 2*16px);
    }    
}