.places {
    margin: 0 auto;
    width: calc(100% - 2*148px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
}

@media screen and (max-width: 1100px) {
    .places {
       width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 820px) {
    .places {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 450px) {
    .places {
        width: 100%;
        gap: 50px;
    }
}