.lead {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 56px auto 92px;
    color: #FFFFFF;
    width: calc(100% - 2*148px) ;
    

}

@media screen and (max-width: 1100px) {
    .lead {
        width: calc(100% - 2*48px);
        margin: 48px auto 92px;
    }
}

@media screen and (max-width: 820px) {
    .lead {
        width: 100%;
        margin: 48px 0 88px;
    }  
}

@media screen and (max-width: 450px) {
    .lead {
        margin: 48px 0 64px;
    }
}