.header {
    display: flex;
    justify-content: space-between;
    margin: 28px auto 0;
    max-width: 1184px;
}

@media screen and (max-width:1100px) {
    .header {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 820px) {
    .header{
        width: calc(100% - 2*24px);

    }
}

@media screen and (max-width: 450px) {
    .header {
        margin: 16px auto 0;
        width: calc(100% - 2*16px);
    }
}

