.place__website-link {
    margin: 12px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    color: #FFFFFF;
    transition: 1s;
}

.place__website-link:hover {
    opacity: 0.5;
}