.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin: 32px auto 64px;
    max-width: 640px;
}

@media screen and (max-width: 820px)  {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media screen and (max-width: 660px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        margin: 16px auto 40px;
    }
}

